$monospace: Monaco, "Lucida Console", "Bitstream Vera Sans Mono", Courier, monospace
$sans_serif: helvetica, arial, geneva, sans-serif
$serif: georgia, serif

$fill: #f9f9f9

body
  color: #444
  font-family: $sans_serif
  font-size: 16px
  line-height: 1.7em
  margin: 60px 100px

h1, h2, h3
  color: #000

h1
  font-size: 100px
  letter-spacing: -6px
  line-height: 1.0em
  margin: 30px 0

h2
  font-size: 25px
  margin: 30px 0 -15px 0

h3
  font-size: 20px
  margin: 30px 0 -15px 0

p
  hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  margin: 30px 0

pre
  font-family: $monospace
  font-size: 13px
  margin: 30px 0
  line-height: 1.6em

table
  border: 1px solid #ccc
  border-collapse: collapse
  margin: 30px 0

  th, td
    border: 1px solid #ccc
    border-collapse: collapse
    padding: 4px 10px
    vertical-align: middle

  th
    background: $fill
    font-weight: bold

#nav
  float: left
  font-size: 12px
  width: 150px
